body {
  overflow-y: hidden;
}

.appbar {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  gap: 80px;

  @media (max-width: 560px) {
    gap: 15px;
  }
}

.appbar img {
  padding: 50px;

  @media (max-width: 560px) {
    padding: 10px;
  }
}

.appbar a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.banner {
  width: 1440px;
  height: 400px;
  border-radius: 5px;
}

.blackFilter {
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: absolute;
  height: 400px;
  width: 1440px;
  border-radius: 5px;
}

.bannerSection {
  width: 100vw;
  height: 900px;
  display: flex;
  justify-content: center;
}
