.container {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
}

.appbar {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  gap: 80px;

  @media (max-width: 560px) {
    gap: 15px;
  }
}

.appbar img {
  padding: 50px;

  @media (max-width: 560px) {
    padding: 10px;
  }
}

.appbar a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.newsLetter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 580px;
  margin-top: 100px;
  gap: 50px;
}

.newsletterText {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}

.newsletterText form {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}

form input {
  display: flex;
  align-items: center;
  width: 400px;
  padding: 10px 0px 10px 13px;
  border: 1px solid #000;
  border-radius: 5px;
}

form button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid black;
}

.mainNews {
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 36px;
  font-weight: 500;
  gap: 8px;
}

.news {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  gap: 40px;
}

.news img {
  width: 355px;
  height: 270px;
  object-fit: cover;
}

.highlightedNews {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
}

.highlightedNewsText {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 28px;
  width: 567px;
}
