.container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  overflow: hidden;
}

.appbar {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  gap: 80px;

  @media (max-width: 560px) {
    gap: 15px;
  }
}

.appbar img {
  padding: 50px;

  @media (max-width: 560px) {
    padding: 10px;
  }
}

.appbar a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.mainNews {
  display: flex;
  align-items: start;
  width: 1400px;
  height: auto;
  color: black;
  gap: 30px;
  margin-top: 100px;
}

.mainNewsText {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.mainNewsText h1 {
  font-size: 32px;
  font-weight: 700;
}

.mainNewsText span {
  font-size: 20px;
  font-weight: 400;
  color: black;
}

.seeYet {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 8px;
  color: black;
  font-size: 36px;
  font-weight: 500;
  margin-top: 100px;
}

.news {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: start;
  max-width: 1400px;
  overflow-x: scroll;
}

.news img {
  width: 355px;
  height: 270px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 50px;
  padding: 80px;
  margin-top: 100px;
  box-shadow: 0px -5px 29px 0px rgba(0, 0, 0, 0.53);
  margin-bottom: 5px;
}

.footerLogo {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 144px;
}

footer > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footerLogo img {
  width: 144px;
}

.pagesFooter {
  display: flex;
  gap: 60px;
  align-items: center;
}

.pagesFooter a {
  text-decoration: none;
  color: black;
}

.footerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  width: 200px;
  background-color: transparent;
}
